.content-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-description{
    text-align: left;
}

.sentence-area-wrapper{
    /*height: 100%;*/
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sentence-area{
    flex: 1;
    background-color: #DDE8C2;
}